# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Visualising Academia.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Uni Work\VisualisaingAcademiaProj\Visualising Academia\.idea\.idea.Visualising Academia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
